aiohttp==3.9.1
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
python-dateutil==2.9.0
python-dotenv==1.0.1
scikit-learn==1.3.2
scrapy==2.11.0
scrapy-playwright==0.0.41
sentence-transformers==2.2.2
structlog==24.2.0
transformers==4.35.2
