aiohttp==3.9.5
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
python-dateutil==2.9.0
python-dotenv==1.0.1
scikit-learn==1.5.0
scrapy==2.11.2
scrapy-playwright==0.0.41
sentence-transformers==2.7.0
structlog==24.2.0
transformers==4.41.2
huggingface_hub==0.23.4
torch==2.3.0
